<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011 ArtiVisi Intermedia <info@artivisi.com>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">
    
    
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    
    <http entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="/main.html**" access="ROLE_USER" />
        <intercept-url pattern="/pages/404.html*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/pages/**" access="ROLE_USER" />
        <intercept-url pattern="/config/**" access="ROLE_USER" />
        <intercept-url pattern="/config*" access="ROLE_USER" />
        <intercept-url pattern="/homepage/**" access="ROLE_USER" />
        <intercept-url pattern="/login.html*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <form-login login-page="/login.html" 
                    default-target-url="/main.html" 
                    always-use-default-target="true"/>
        <logout logout-success-url="/login.html"/>
        
        <session-management>
            <concurrency-control max-sessions="1"/>
        </session-management>
    </http>
    
    <beans:bean id="restAuthenticationEntryPoint" class="com.artivisi.spring.security.RestAuthenticationEntryPoint" />
    
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="root" password="admin" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
        <authentication-provider user-service-ref='myUserDetailsService'/>
    </authentication-manager>
    
    <beans:bean id="myUserDetailsService"
                class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <beans:property name="dataSource" ref="dataSource"/>
        <beans:property name="enableAuthorities" value="false"/>
        <beans:property name="enableGroups" value="true"/>
        <beans:property name="usersByUsernameQuery">
            <beans:value>
                select username,password,active
                from c_security_user
                where username = ?
            </beans:value>
        </beans:property>
        <beans:property name="groupAuthoritiesByUsernameQuery">
            <beans:value>
                select r.id, r.name as group_name, p.permission_value as authority
                from c_security_user u
                inner join c_security_role r on u.id_role = r.id
                inner join c_security_role_permission rp on rp.id_role = r.id
                inner join c_security_permission p on rp.id_permission = p.id
                where username = ?
            </beans:value>
        </beans:property>
    </beans:bean>
    
</beans:beans>