<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">
    
    
    <debug />
    
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    
    <http entry-point-ref="restAuthenticationEntryPoint">
        <intercept-url pattern="/main.html**" access="ROLE_USER" />
        <intercept-url pattern="/pages/404.html*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/pages/**" access="ROLE_USER" />
        <intercept-url pattern="/config*" access="ROLE_USER" />
        <intercept-url pattern="/homepage/**" access="ROLE_USER" />
        
        <intercept-url pattern="/login.html*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <form-login login-page="/login.html" 
                    default-target-url="/main.html" 
                    always-use-default-target="true"/>
        <logout logout-success-url="/login.html"/>
        
        <session-management>
            <concurrency-control max-sessions="1"/>
        </session-management>
    </http>
    
    <beans:bean id="restAuthenticationEntryPoint" class="com.artivisi.spring.security.RestAuthenticationEntryPoint" />
    
    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="endy" password="123"
                      authorities="ROLE_USER, ROLE_ADMIN" />
                <user name="bob" password="111"
                      authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
    
</beans:beans>